
	#nav-wrapper {
		background-color: #420080;
	}

	#nav {
		width: 300px;
		font-size: 0;
		margin: 0 auto;
		
	}

	#nav a {
		color: white;
		text-decoration: none;
		font-size: 23px;
		font-weight: bold;
		text-align: center;
		width: 150px;
		height: 50px;
		display: inline-block;
		line-height: 50px;		
	}

	#nav a:hover {
		background-color: #9999ff;
	}

	.active {
		background-color: black;
	}

	#header {
		height: 550px;
		background-image: url("drop.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	h1 {
		text-align: center;
		color: rebeccapurple;
		font-size: 70px;
		line-height: 120px;
		text-shadow: 2px 2px 0px plum; 
		font-style: italic;
		margin: 0px;
		font-weight: bold;
	}

	h2 {
		font-style: italic;
		margin: 0;
		font-size: 20px;
	}

	body {
		background-color: lavender;
		margin: 0px;
	}

	#content {
		width: 750px;
		background-position: center;
		background-color: azure;
		margin: 0 auto;
		padding: 20px;
		line-height: 1.5;
		float: left;
	}

	#sidebar {
		width: 270px;
		padding: 20px;
		background-color: #7A5DC7;
		float: left;
	}

	.picture {
		float: right;
		padding: 20px;
	}

	.d-picture {
		float: left;
		padding: 20px;
	}

	img {
		height: 170px;
		width: 260px;
	}

	#footer {
		background-color: mediumpurple;
		color: white;
		padding: 5px 5px;
		text-align: center;
		font-size: 15px;
				
	
		font-style: italic;
		font-weight: bold;
		margin: 0;

	}

	#wrapper {
		width: 1100px;
		margin-right: auto;
		margin-left: auto;
		background-color: azure;
	}

	.clearfloat {
		clear: both;
	}

	.thumbnail {

		overflow: hidden;
		line-height: 1.5;
		margin: 75px 40px;
		


	}

	.thumbnail p {
		      text-align: center;
		      font-size: 15px;
		      font-weight: bold;
		      margin: 0;

		      	}

	.thumbnail p {
	visibility: hidden;
	}

	.thumbnail:hover p {
	visibility: visible;
	}

	.portrait {
		width: 150px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding: 5px;
		
	}
	.sidebartitle  {
		color: #FDEEF4;
		font-weight: bold;
		font-size: 20px;
		text-align: center;
		font-style: normal;
		padding: 30px;
	}